<body>
    <h1>{{currentGame.name}}</h1>
    <img [src]="getUpdatedImage(currentGame.cover.url)" class="current-img"/>
    <p> Genres: {{getGenres(currentGame.genres)}}</p>
    <p>Rating: {{currentGame.total_rating}}</p>
    <p>Platforms: {{getPlatforms(currentGame.platforms)}}</p>
    <p>Involved Companies: {{getCompanies(currentGame.involved_companies)}}</p>
    <p>Release Date: {{isDateInstance(getEarliestDate(currentGame.release_dates))}}</p>
    <h2>Trailer</h2>
    <div>
        @if (currentGameVideos.length > 0 && !showMore){
        <div>
            <app-youtube-player class="youtube-player" [videoId]="currentGameVideos[0].video_id" (play)="playVideo(0)" ></app-youtube-player>
        </div>
        }
        <div class="video-container">
        @if (currentGameVideos.length > 0 && showMore) {
            @for (v of currentGameVideos; track $index) {
                    <app-youtube-player class="youtube-player" [videoId]="v.video_id" (play)="playVideo($index)"></app-youtube-player>
            }
        }
        </div>
    </div>
    <button class="show-more" (click)="toggleShowMore()">{{showMore ? 'Show Less' : 'Show More'}}</button>

    <p>Summary:</p>
    <p>{{currentGame.summary}}</p>
    <button (click)="addToBacklog(1, currentGame.id)">Add to backlog</button>
    <h2>Similar Games</h2>
    <div class="similar-games-container">
        @for (g of similarGames; track $index) {
        <div class="similar-game card">
            <img [src]="g.cover.url" class="card-img-top" (click)="goToDetails(g.id)" alt="{{g.name}}" />
            <div class="card-body">
                <h5 class="card-title">{{g.name}}</h5>
                <p class="card-text">{{g.total_rating}}</p>
                <p class="card-text">{{getOneGenre(g.genres)}}</p>
            </div>
        </div>
        }
        
    </div>
</body>