.video-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
  }
  
.youtube-player{
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
.show-more{
    margin-top: 10px;
  }

.similar-games-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
}

.similar-game {
    min-width: 150px; 
    max-width: 150px; 
    margin-right: 10px; 
    text-align: center; 
    overflow: hidden; 
}

.similar-game img {
    max-width: 100%;
    height: auto; 
    cursor: pointer;
}
/* .similar-game p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; 
    box-sizing: border-box;
} */

.card-title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    display: block;
    max-width: 100%; 
    box-sizing: border-box;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; 
    max-width: 100%;
    box-sizing: border-box;
}
.current-img {
    width: 300px;
    height: auto; 
}
