<h1>Top Users</h1>

<div class="top-users-container">
    @for (u of topTen; track $index) {
    <div class="search-item">
        <div class="search-content">
            <img [src]="u.pfp" class="cover-image" (click)="navigateToProfile(u.id)" />
            <div class="text-content">
                <h2>{{ u.userName }}</h2>
                <p>Level: {{ u.level }}</p>
                <p>XP: {{ u.totalXp }}</p>
                <button class="button" (click)="navigateToBacklog(u.id)">Backlog</button>
                <button class="button" (click)="navigateToProfile(u.id)">View Profile</button>
            </div>
        </div>
    </div>
    }
</div>

<h1>Search for a user!</h1>
<div class="search-for">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="name" placeholder="Enter a user's name!" />
    <div class="center-button">
        <button class="button" (click)="searchFriend()">Search</button>
    </div>
    
</div>


@if (filteredUsers.length > 0) {
    <div class="top-users-container">
        @for (u of filteredUsers; track $index) {
            <div class="search-item">
                <div class="search-content">
                    <img [src]="u.pfp" class="cover-image" (click)="navigateToProfile(u.id)" />
                    <div class="text-content">
                        <h2>{{ u.userName }}</h2>
                        <p>Level: {{ u.level }}</p>
                        <p>XP: {{ u.totalXp }}</p>
                        <button class="button" (click)="navigateToBacklog(u.id)">Backlog</button>
                        <button class="button" (click)="navigateToProfile(u.id)">View Profile</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

